.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent{
    min-width: 250px;
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
}