@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

.post{
    background-color: #9CC2E0FF;

    padding: 15px;
    display: flex;
    box-sizing: border-box;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}



.title{

}

.description{

}


.buttonDelete {
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 15px 15px 0;
    transition: .4s;
    margin-left: 2px;
}

.buttonDelete:hover,
.btnOpen:hover{
    background: rgba(101, 64, 211, 0.38);
}
.postBtns{
    display: flex;
}
.btnOpen{
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius:  15px 0 0 15px;
    transition: .4s;
}

